@model DTSMCC_WebApp.Models.Provinsi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Provinsi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Id Provinsi</h4>
            <div class="form-group">
                <label asp-for="idProvinsi" class="control-label"></label>
                <input asp-for="idProvinsi" class="form-control" />
                <span asp-validation-for="idProvinsi" class="text-danger"></span>
            </div>
            <h4>Nama Provinsi</h4>
            <div class="form-group">

                <label asp-for="namaProvinsi" class="control-label"></label>
                <input asp-for="namaProvinsi" class="form-control" />
                <span asp-validation-for="namaProvinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
